@page "/races"
@using Classes

<PageTitle>PocketRace | All Races</PageTitle>

<h1>All Races</h1>
<br />
<div>
	@foreach(Race race in races)
	{
		<div class="card mb-3">
			<div class="card-body">
				<h5 class="card-title">@race.name</h5>
				<p class="card-text">@if(race.startlists.Count > 0)
					{
						<ul>
							@foreach (Startlist startlist in race.startlists)
							{
								<li>@startlist.name</li>
							}
						</ul>
					}
					else
					{
						<span>Empty</span>
					}
				</p>
				<a href="#" class="btn btn-primary"><i class="bi bi-pencil-square" /> Edit</a>
				<button href="#" class="btn btn-secondary"><i class="bi bi-box-arrow-up" /> Export</button>
			</div>
		</div>
	}
</div>


@code {

	public List<Race> races = new List<Race>
	{
		new Race()
		{
			name = "TestRace",
			startlists = new List<Startlist>()
		},
		new Race()
		{
			name = "Spring i Böllingetorp 2025",
			startlists = new List<Startlist>()
			{
				new Startlist()
				{
					name = "1 Varv - 1.6 Km",
					racers = new List<Racer>()
				},
				new Startlist()
				{
					name = "3 Varv - 4.8 Km",
					racers = new List<Racer>()
				},
				new Startlist()
				{
					name = "5 Varv - 8 Km",
					racers = new List<Racer>()
				},
			}
		}

	};

}
