article{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.btn {
    font-size: 16px;
}

.btn-race {
    flex-wrap: nowrap;
}

.box-body {
    display: flex;
    margin: 12px;
    flex-basis: 90%;
    flex-direction: column;
    background-color: rgba(var(--bs-body-bg-rgb), .3);
    border-radius: 20px;
    padding: 24px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    max-width: 800px;
    gap: 24px;
}

.box-section{
    border-radius: 20px;
    border: 1px dashed var(--bs-border-color);
    padding: 12px;
}

.top-row {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
}

.top-row-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 12px;
}

.top-row-title {
    font-weight: bold;
}

.all-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    overflow: hidden;
}

.card {
    background-color: rgba(var(--bs-body-bg-rgb), 0);
}

.card-title {
    padding-block-start: 6px;
}

.card-header {
    display: flex;
    align-content: center;
}

.card-body {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.card-text div{
    margin-block: 4px;
}

.card-footer {
    display: flex;
    overflow: hidden;
    gap: 12px;
    flex-wrap: wrap;
}

.card-buttons {
    background-color: rgba(var(--bs-body-bg-rgb), .5);
    border: solid 1px;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 12px;
    min-width: 170px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-out {
    opacity: 1;
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to{
        opacity: 0;
    }
    
}