@page "/races/edit/{RaceId}"
@using Classes
@using Pages
@inject RaceService raceService
@inject NavigationManager NavManager


<h3>@currentRace.Name</h3>

@if (currentRace != null)
{
    <div>
        <label>Name:</label>
        <input type="text" @bind="currentRace.Name" class="form-control" />
    </div>
    <button class="btn btn-success mt-3" @onclick="SaveRace">Save</button>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter] public string RaceId { get; set; }
    private Race currentRace;

    protected override async Task OnInitializedAsync()
    {
        currentRace = await raceService.GetRaceByIdAsync(RaceId);
    }

    private async Task SaveRace()
    {
        currentRace.lastEditDateTime = DateTime.Now;
        await raceService.UpdateRaceAsync(currentRace);
        // Redirect back to the races list
        NavManager.NavigateTo("/races");
    }
}
