@page "/home"

<PageTitle>PocketRace | Home</PageTitle>

<h1>Welcome arranger!</h1>
<div class="content-box-section">
	<div class="content-box">
		<div>
			<h2><b>This is PocketRace</b></h2>
			PocketRace is the ultimate app for small groups and clubs to organize and manage races with ease. Create events, build start lists and time your races accurately — all in one place.
		</div>
	</div>
	<div class="content-box">
		<div>
			<h2><b>Learn PocketRace</b></h2>
			Discover how PocketRace simplifies race management for your group. Get started today and experience seamless event setup and accurate timing.
		</div>
		<button class="btn btn-normal">
			<span>Learn PocketRace</span>
			<i class="bi btn-bi bi-chevron-double-right"></i>
		</button>
	</div>
	<div class="content-box">
		<div>
			<h2><b>Me, The Developer</b></h2>
			I'm Mose Fredrik Grafström, a 17-year-old from just outside Stockholm, Sweden. I created this app because most other race-timing applications are costly and geared toward large-scale events. My aim with PocketRace is to provide an easy-to-use solution for smaller clubs and groups, allowing them to organize their races without the high costs.
		</div>
		<button class="btn btn-normal">
			<span>Read More</span>
			<i class="bi btn-bi bi-chevron-double-right"></i>
		</button>
	</div>
</div>


@code {
}