@page "/home"

<PageTitle>PocketRace | Home</PageTitle>

<h1>Welcome arranger!</h1>
<div class="box-container">
	<div class="content-box">
		<h2><b>This is PocketRace</b></h2>
		Create and manage races seamlessly with PocketRace. Set up race events, generate start lists, accurately time the race, and easily share results with your participants.
		<br />
	</div>
	<div class="content-box">
		<img src="Images/Preset-Image.jpg" alt="Stock Image" />
	</div>
	<div class="content-box">
		<h2><b>Learn PocketRace</b></h2>
		<div>
			Easily set up your race, create start lists, time each participant, and share results with ease. PocketRace is designed to simplify race management, making it the ideal solution for organizers looking for a straightforward, reliable timing tool.
		</div>
		<br />
		<button class="btn btn-primary">
			Learn PocketRace
		</button>
	</div>
	<div class="content-box">
		<h2><b>Me, The Developer</b></h2>
		<div>
			I'm Mose Fredrik Grafström, a 17-year-old from just outside Stockholm, Sweden. I created this app because most other race-timing applications are costly and geared toward large-scale events. My aim with PocketRace is to provide an easy-to-use solution for smaller clubs and groups, allowing them to organize their races without the high costs.
		</div>
		<br />
		<button class="btn btn-primary">
			Read More
		</button>
	</div>
</div>


@code {
}