.numpad-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 12px;
	height: 50vh;
}

/* Stil för knapparna */
.numpad-button {
	justify-content: center;
	font-size: 3vh;
	border-radius: 8px;
	backdrop-filter: blur(10px);
	max-height: none;
	min-height: none;
	min-width: none;
	height: 100%;
	width: 100%;
	padding: 0px;
}