<div class="numpad-container">
    @for (int i = 1; i <= 9; i++)
    {
        <button class="btn btn-secondary numpad-button">@i</button>
    }
    <button class="btn btn-secondary numpad-button">0</button>
</div>

@code {

}
