h1 {
	font-weight: bold;
	margin: 30px;
	overflow-wrap: anywhere;
}

h2 {
	font-weight: bold;
}

label {
	margin-top: 24px;
	font-size: 1.3rem;
	font-weight: bold;
}

.current-time {
	text-align: center;
}

.content-box-section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	align-content: stretch;
	justify-content: stretch;
	height: calc(100dvh - 270px);
	margin-block: 24px;
}

.content-box-list {
	height: calc(100dvh - 270px - 170px);
	overflow-y: scroll;
}

.content-box-section > .content-box:nth-child(3) {
	grid-row-start: 1;
	grid-column-start: 3;
	grid-row-end: 3;
}

.content-box-section > .content-box:nth-child(4) {
	grid-row-start: 2;
	grid-column-start: 1;
	grid-column-end: 3;
	max-width: none;
}

@media(max-width: 1300px) {
	.content-box-section {
		grid-template-columns: 1fr 1fr;
		height: auto;
	}

		.content-box-section > .content-box:nth-child(3) {
			grid-row-start: unset;
			grid-column-start: unset;
			grid-row-end: unset;
		}


		.content-box-section > .content-box:nth-child(4) {
			grid-column-start: unset;
			grid-column-end: unset;
			max-width: none;
		}

	.content-box-list {
		height: 300px;
	}
}

@media(max-width: 900px) {
	.content-box-section {
		grid-template-columns: 1fr;
		width: 100%;
	}

		.content-box-section > .content-box {
			max-width: none;
			grid-row-start: unset;
			grid-column-start: unset;
		}
}

.page {
	min-height: 95vh;
	display: flex;
	align-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.box-body {
	display: flex;
	margin: 12px;
	flex-direction: column;
	background-color: rgba(var(--bs-body-bg-rgb), .3);
	border-radius: 20px;
	padding: 12px;
	backdrop-filter: blur(10px);
	overflow: hidden;
	width: 90%;
	max-width: 800px;
	gap: 24px;
}

	.box-body:is(.box-body-stretch) {
		flex-grow: 1;
	}

.top-row {
	padding: 12px;
	display: flex;
	justify-content: space-between;
	column-gap: 15%;
	row-gap: 12px;
	flex-wrap: wrap;
}

.top-row-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	flex-grow: 1;
}

	.top-row-buttons > * {
		display: flex;
		flex-grow: 1;
		flex-basis: 40%;
	}

.top-row-title {
	font-weight: bold;
}

.all-cards {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 12px;
	overflow: hidden;
}

.card {
	background-color: rgba(var(--bs-body-bg-rgb), 0);
}

.card-title {
	padding-block-start: 6px;
}

.card-header {
	display: flex;
	align-content: center;
}

.card-body {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	flex-wrap: wrap;
}

.card-footer {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.fade-in {
	opacity: 0;
	animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fade-out {
	opacity: 1;
	animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.card-hover:hover {
	background-color: rgba(var(--bs-body-bg-rgb), .3);
}