@inherits LayoutComponentBase
@using RaceTimer.Classes
@using RaceTimer.Components

<div class="background" />

<div class="page">

	<div class="top-row">
		<button class="btn sidebar-toggle" @onclick="@(()=>sidebarToggle = "sidebar-open")">
			<i class="bi-list"></i>
		</button>
	</div>
	<div class="sidebar @sidebarToggle">
		<NavMenu SidebarToggle="SideBarToggleCallback" />
	</div>

	<main>
		<article class="content">
			@Body
		</article>
	</main>
</div>

@code {
	string sidebarToggle = "";
	void SideBarToggleCallback(string toggle)
	{
		sidebarToggle = toggle;
	}
}
