main {
    flex: 1;
}


.page {
    display: flex;
    background-color: #0D012B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230C0316'/%3E%3Cstop offset='1' stop-color='%230D012B'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%238618A6' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%238618A6' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.sidebar {
    display: block;
    background-color: rgba(var(--bs-secondary-bg-rgb), .1);
    backdrop-filter: blur(10px);
    width: 250px;
    height: 100%;
    position: sticky;
    top: 0;
    overflow-y: auto;
    transform: translateX(0%);
}

.sidebar-toggle {
    display: none;
}

.top-row {
    display: none;
}

@media (max-width: 641px) {
    .page {
        flex-direction: column;
    }

    .sidebar {
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
        overflow-y: auto;
        transform: translateX(-100%);
    }

    .sidebar-toggle {
        display: block;
        font-size: 40px;
        border: none;
        border-radius: 20px;
        width: 70px;
        height: 70px;
    }

    .sidebar:is(.sidebar-open) {
        animation: show-sidebar 0.5s forwards;
    }

    .sidebar:not(.sidebar-open) {
        animation: hide-sidebar 0.5s forwards;
    }

    .top-row {
        display: block;
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: rgba(var(--bs-secondary-bg-rgb), .1);
        backdrop-filter: blur(10px);
    }
}

@keyframes hide-sidebar {
    from {
        transform: translateX(0%);
        display: block;
    }

    to {
        transform: translateX(-100%);
        display: none;
    }
}

@keyframes show-sidebar {
    from {
        transform: translateX(-100%);
        display: none;
    }

    to {
        transform: translateX(0%);
        display: block;
    }
}
