@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <nav class="btn-group breadcrumb" aria-label="breadcrumb">
                <a class="btn btn-outline-light breadcrumb-item" href="/">Weather</a>
                <a class="btn btn-outline-light breadcrumb-item-active" aria-current="page" href="home">Home</a>
            </nav>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
