@inherits LayoutComponentBase
@using RaceTimer.Classes
@using RaceTimer.Components

<div class="page">
	<button class="sidebar-toggle" @onclick="@(()=>sidebarToggle = "sidebar-open")">
		<i class="bi-list"></i>
	</button>
	<div class="sidebar @sidebarToggle">
		<NavMenu SidebarToggle="SideBarToggleCallback" />
	</div>

	<main>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code {
	string sidebarToggle = "";
	void SideBarToggleCallback(string toggle)
	{
		sidebarToggle = toggle;
	}
}
