.top-row {
    height: 3.5rem;
    border-block-end: solid;
    border-block-color: var(--bs-dark-bg-subtle);
}

.navbar-toggle{
    border-block: none;
}

.navbar-brand {
    font-size: 1.3rem;
    color: var(--bs-emphasis)
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.nav-item {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: var(--bs-emphasis);
        border-radius: 10px;
        height: 3rem;
        display: flex;
        align-items: center;
        padding: 15px;
        line-height: 3rem;
    }

    .nav-item ::deep a.active {
        background-color: var(--bs-primary-bg-subtle);
        color: var(--bs-emphasis);
    }

.nav-item ::deep a:hover {
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-emphasis);
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
