.top-row {
    align-content: center;
    height: 3.5rem;
}

.navbar-toggle {
    border: none;
}

    .navbar-toggle i {
        font-size: 24px;
        display: inline-block;
        position: relative;
        margin-right: 0.75rem;
        top: -1px;
        background-size: cover;
        color: var(--bs-emphasis)
    }

.navbar-brand {
    font-size: 1.3rem;
}

.nav-item i {
    display: inline-block;
    position: relative;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
    font-size: 30px;
    color: var(--bs-emphasis)
}

.nav-item {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: rgba(var(--bs-emphasis-rgb), .1);
        border-radius: 10px;
        height: 3rem;
        display: flex;
        align-items: center;
        padding: 15px;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(var(--bs-tertiary-bg-rgb), .5);
            color: var(--bs-emphasis);
        }

        .nav-item ::deep a:hover {
            background-color: rgba(var(--bs-tertiary-bg-rgb), .5);
            color: var(--bs-emphasis);
        }

@media (min-width: 641px) {
    .navbar-toggle {
        display: none;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
