/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-9rqfbddzmr] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--bs-body-bg)
}

main[b-9rqfbddzmr] {
    flex: 1;
}

.sidebar[b-9rqfbddzmr] {
    background-color: var(--bs-secondary-bg);
}

.top-row[b-9rqfbddzmr] {
    background-color: var(--bs-secondary-bg);
    justify-content: center;
    height: 3.5rem;
    display: flex;
    align-items: center;
    color: var(--bs-secondary);
    border-block-end: outset;
    border-block-end-color: var(--bs-dark-bg-subtle);
}

    .top-row[b-9rqfbddzmr]  a, .top-row[b-9rqfbddzmr]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-9rqfbddzmr]  a:hover, .top-row[b-9rqfbddzmr]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-9rqfbddzmr]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-9rqfbddzmr] {
        justify-content: space-between;
    }

    .top-row[b-9rqfbddzmr]  a, .top-row[b-9rqfbddzmr]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-9rqfbddzmr] {
        flex-direction: row;
    }

    .sidebar[b-9rqfbddzmr] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        border-right: solid;
        border-right-color: var(--bs-dark-bg-subtle);
    }

    .top-row[b-9rqfbddzmr] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-9rqfbddzmr]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-9rqfbddzmr], article[b-9rqfbddzmr] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.top-row[b-jp4pc1ht9l] {
    align-content: center;
    height: 3.5rem;
    border-block-end: outset;
    border-block-color: var(--bs-dark-bg-subtle);
}

.navbar-toggle[b-jp4pc1ht9l]{
    border: none;
}

.navbar-brand[b-jp4pc1ht9l] {
    font-size: 1.3rem;
    color: var(--bs-emphasis)
}

.bi[b-jp4pc1ht9l] {
    display: inline-block;
    position: relative;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
    font-size: 30px;
    color: var(--bs-emphasis)
}

.nav-item[b-jp4pc1ht9l] {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-jp4pc1ht9l] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-jp4pc1ht9l] {
        padding-bottom: 1rem;
    }

    .nav-item[b-jp4pc1ht9l]  a {
        color: var(--bs-emphasis);
        border-radius: 10px;
        height: 3rem;
        display: flex;
        align-items: center;
        padding: 15px;
        line-height: 3rem;
    }

    .nav-item[b-jp4pc1ht9l]  a.active {
        background-color: var(--bs-primary-bg-subtle);
        color: var(--bs-emphasis);
    }

.nav-item[b-jp4pc1ht9l]  a:hover {
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-emphasis);
}

@media (min-width: 641px) {
    .navbar-toggle[b-jp4pc1ht9l] {
        display: none;
    }

    .collapse[b-jp4pc1ht9l] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-jp4pc1ht9l] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/AllRaces.razor.rz.scp.css */
body[b-a4x7s374tm] {
}

.btn-edit[b-a4x7s374tm] {
    font-size: 16px;
}

.btn-export[b-a4x7s374tm] {
    font-size: 16px;
}

.btn-delete[b-a4x7s374tm] {
    font-size: 16px;
}

.btn-add-race[b-a4x7s374tm] {
    font-size: 20px;
}

.all-races-container[b-a4x7s374tm] {
    max-width: 500px;
    background-color: var(--bs-secondary-bg);
    border-radius: 20px;
    min-height: 600px;
}

.top-row[b-a4x7s374tm] {
    background-color: var(--bs-primary-bg);
    border-block-end: solid;
    border-block-color: var(--bs-border-color)
}

.fade-in[b-a4x7s374tm] {
    opacity: 0;
    animation: fadeIn-b-a4x7s374tm 1s forwards;
}

@keyframes fadeIn-b-a4x7s374tm {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-out[b-a4x7s374tm] {
    opacity: 1;
    animation: fadeOut-b-a4x7s374tm 0.5s forwards;
}

@keyframes fadeOut-b-a4x7s374tm {
    from {
        opacity: 1;
    }

    to{
        opacity: 0;
    }
    
}
/* /Pages/EditRace.razor.rz.scp.css */
body[b-b2uavjddp0] {
}

.btn[b-b2uavjddp0] {
    color: var(--bs-light);
    
}

.btn-edit[b-b2uavjddp0] {
    font-size: 16px;
}

.btn-export[b-b2uavjddp0] {
    font-size: 16px;
}

.btn-delete[b-b2uavjddp0] {
    font-size: 16px;
}

.btn-add[b-b2uavjddp0] {
    font-size: 20px;
}

.startlists-container[b-b2uavjddp0] {
    margin-top: 20px;
    max-width: 600px;
    background-color: var(--bs-secondary-bg);
    border-radius: 20px;
    min-height: 300px;
}

.race-input[b-b2uavjddp0]{
    max-width: 600px;
}

.top-row[b-b2uavjddp0] {
    background-color: var(--bs-primary-bg);
    border-block-end: solid;
    border-block-color: var(--bs-border-color)
}

.fade-in[b-b2uavjddp0] {
    opacity: 0;
    animation: fadeIn-b-b2uavjddp0 1s forwards;
}

@keyframes fadeIn-b-b2uavjddp0 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-out[b-b2uavjddp0] {
    opacity: 1;
    animation: fadeOut-b-b2uavjddp0 0.5s forwards;
}

@keyframes fadeOut-b-b2uavjddp0 {
    from {
        opacity: 1;
    }

    to{
        opacity: 0;
    }
    
}
/* /Pages/EditStartlist.razor.rz.scp.css */
.startlist-container[b-i4xh1oatf6] {
    margin-top: 20px;
    max-width: 600px;
    background-color: var(--bs-secondary-bg);
    border-radius: 20px;
    min-height: 300px;
}

.startlist-input[b-i4xh1oatf6] {
    max-width: 600px;
}

.top-row[b-i4xh1oatf6] {
    background-color: var(--bs-primary-bg);
    border-block-end: solid;
    border-block-color: var(--bs-border-color)
}

.fade-in[b-i4xh1oatf6] {
    opacity: 0;
    animation: fadeIn-b-i4xh1oatf6 1s forwards;
}

@keyframes fadeIn-b-i4xh1oatf6 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-out[b-i4xh1oatf6] {
    opacity: 1;
    animation: fadeOut-b-i4xh1oatf6 0.5s forwards;
}

@keyframes fadeOut-b-i4xh1oatf6 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.btn-add[b-i4xh1oatf6] {
    font-size: 10px;
}
/* /Pages/Home.razor.rz.scp.css */

.text-box[b-wqumhrza7b] {
    background-color: var(--bs-secondary-bg-subtle);
    border-radius: 20px;
}
/* /Pages/Numpad.razor.rz.scp.css */
.numpad-container[b-99npcvbnds] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: auto;
}

/* Stil för knapparna */
.numpad-button[b-99npcvbnds] {
    flex: 1 1 30%;
    height: 11vh;
    font-size: 5vh;
    padding: 0;
    border-radius: 8px;
}

/* Anpassa storleken på knappar för mindre skärmar */
@media (max-width: 641px) {
    .numpad-button[b-99npcvbnds] {
        flex: 1 1 28%;
    }
}

/* /Pages/SelectTimeRace.razor.rz.scp.css */
.race-container[b-1os2eb7d6x] {
    max-width: 500px;
    background-color: var(--bs-secondary-bg);
    border-radius: 20px;
    min-height: 200px;
}
/* /Pages/TimeRace.razor.rz.scp.css */
/* Styla tidvisningen */
.current-time[b-zr76thhxab] {
    font-size: 4vh;
    white-space: nowrap; /* Förhindrar radbrytning */
}

.btn-text[b-zr76thhxab] {
    font-size: 4vh;
    white-space: nowrap; /* Förhindrar radbrytning */
}

/* Styla huvudcontainern */
.time-container[b-zr76thhxab] {
    border-radius: 20px;
    width: 100%;
    padding: 15px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Förhindrar att innehåll läcker ut */
}

